asr:
  tokens: "./models/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/tokens.txt"
  encoder: "./models/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/encoder-epoch-99-avg-1.onnx"
  decoder: "./models/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/decoder-epoch-99-avg-1.onnx"
  joiner: "./models/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/joiner-epoch-99-avg-1.onnx"

kws:
  # 模型文件路径
  tokens: "./models/sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01/tokens.txt"
  encoder: "./models/sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01/encoder-epoch-12-avg-2-chunk-16-left-64.onnx"
  decoder: "./models/sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01/decoder-epoch-12-avg-2-chunk-16-left-64.onnx"
  joiner: "./models/sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01/joiner-epoch-12-avg-2-chunk-16-left-64.onnx"
  keywords_file: "./models/sherpa-onnx-kws-zipformer-gigaspeech-3.3M-2024-01-01/keywords_zh_example.txt"
  keywords_score: 1.0
  keywords_threshold: 0.25
  num_trailing_blanks: 1
  num_threads: 1
  max_active_paths: 4
  provider: "cpu"

llm:
  model: "qwen-long"
  api_key: "<YOUR_API_KEY_HERE>"
  base_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"

tts:
  model: "./models/vits-icefall-zh-aishell3/model.onnx"
  lexicon: "./models/vits-icefall-zh-aishell3/lexicon.txt"
  tokens: "./models/vits-icefall-zh-aishell3/tokens.txt"